
  <div class="row">
    <h1 class="text-center"> Search for cheap flights </h1>
    <%= form_tag("/", method: "get" )  do %>
      <div class="form-group col-sm-6">
        <%= label_tag "FROM"  %>
        <%= select(:flight, :from_airport_id, @airport_options,{}, {:class => "selectpicker form-control"}) %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag("TO") %>
        <%= select(:flight, :to_airport_id, @airport_options,{}, {:class => "selectpicker form-control"}) %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag("Date") %>
        <%= select(:flight, :start, @date_options,{}, {:class => "selectpicker form-control"}) %>
      </div>
      <div class="form-group col-sm-6">
        <%= label_tag("Number of passengers") %>
        <%= number_field_tag(:number, nil, min: 1, max: 20,:class => "selectpicker form-control") %>
      </div>
      <%= submit_tag("Search for flights",:class => "btn col-sm-4 col-sm-offset-4 btn-lg btn-outline-primary") %>
    <% end %>
  </div>

<% if !!@flight_options %>
  <%=render partial: "results"%>
<% end %>  
