
<p> TO <%= "#{@flight.to_airport.code}" %> </p>
<p> FROM <%= "#{@flight.from_airport.code}" %> </p>
<p> DATE <%= "#{@flight.start.to_date}" %> </p>

  <%= form_for(@booking) do |f| %>

    <%= f.fields_for :passengers do |passenger| %>
    <%= passenger.text_field :name %>
    <%= passenger.text_field :email %>
    <% end %>
    <%= f.hidden_field :flight_id %>
    <%= f.submit "Book Flight", class: "button" %>
  <% end %>
